@use '../../abstracts' as *;

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: #ffffff;
  color: #000;

  &__content {
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;

    &-menu {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-text {
      font-family: Pretendard-Regular;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      color: $text-color-gray;

      &.active {
        color: $text-color-orange;
      }
    }
  }
}
