@use '../../abstracts' as *;

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;
  background: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;

    & > *:not(:nth-child(2)) {
      flex: 1;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  &__back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    border: none;
    background-image: url('src/assets/icons/24_left_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }
}
