@use '../abstracts' as *;

.ss-button {
  @include flex(center, center);
  @include rounded();
  @include text-500(14, $text-white);
  background-color: $primary;
  &:hover {
    background-color: $primary-hover;
  }
  &:disabled {
    background-color: $disabled;
  }
  &.--negative {
    color: $primary;
    background-color: $popup;
    &:hover {
      background-color: #ffeddd;
    }
  }
  &.--sm {
    @include px(15);
    height: 36px;
  }
  &.--md {
    @include px(30);
    height: 40px;
  }
  &.--lg {
    @include px(30);
    height: 48px;
  }

  &.--full {
    width: 100%;
  }
}

.ss-outline-button {
  @include flex(center, center);
  @include rounded();
  @include text-500(14, $text-black);
  @include px(25);
  height: 36px;
  border: 1px solid $line-strong;

  &:hover {
    background-color: $primary;
    color: $text-white;
    border-color: $primary;
  }

  &:disabled {
    border-color: $line-light;
    color: $text-gray;
  }
}

.ss-text-button {
  @include text-500(14, $text-gray);
  display: flex;
  align-items: center;

  > svg:last-child {
    margin-left: 2px;
  }

  &.--underline {
    text-decoration: underline;
  }

  &.--primary {
    text-decoration: underline;
    &:hover {
      color: $primary;
    }
  }

  &--icon {
    color: $text-black;
  }

  &:hover {
    color: $text-black;
    text-decoration: underline;
  }
}

.ss-icon-button {
  @include flex(center, center);
  @include text-500(14, $text-black, 20);
  @include rounded();
  background-color: $background;
  border: 1px solid $line-light;
  width: fit-content;
  padding: 4px 12px;
  cursor: pointer;

  span {
    margin-left: 4px;
  }

  &.--lg {
    padding: 16px 25px;
    > span {
      margin-left: 10px;
    }
  }

  &.--primary {
    border-color: $primary;
    color: $primary;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $text-white;
  }
}

.ss-group {
  @include flex(center, center);
}
