@use '../abstracts' as *;

.ss-form {
  @include flex(start, center, column);
  width: 100%;

  // TODO: Flex, Grid 관련 Layout으로 이동 및 수정
  &__row-container {
    @include flex(start, center);
    align-self: flex-start;
  }

  &__row-center {
    @include flex(center, center);
  }

  &__col-container {
    @include flex(center, start, column);
    justify-self: self-start;
    width: 100%;
  }

  & > .notification {
    @include flex(start, center);
    @include text-500(14, $text-gray);

    align-self: flex-start;
    margin: 10px 0 20px 24px;

    > img {
      padding-right: 6px;
    }

    &--caution {
      color: $primary;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background-image: url('src/assets/icons/1212/caution.svg');
      }
    }

    &--success {
      color: $text-green;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 6px;
        background-image: url('src/assets/icons/1212/check.svg');
      }
    }
  }

  & > .social {
    @include rounded();
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 24px;
    background-color: $background;

    & > span {
      @include text-500(16, $text-black);
    }
  }
}

.ss-text-button {
  @include text-500(14, $text-gray);
  display: flex;
  align-items: center;

  &.--underline {
    text-decoration: underline;
  }

  &--icon {
    color: $text-black;
  }

  &:hover {
    color: $text-black;
    text-decoration: underline;
  }
}

.separator {
  display: inline-block;
  &.--horizontal {
    background-color: $line-light;
    width: 100%;
    height: 1px;
  }
  &.--vertical {
    background-color: $text-gray;
    height: 14px;
    width: 1px;
  }
}

.ss-group {
  @include flex(center, center);
}

.ss-button {
  @include flex(center, center);
  @include rounded();
  @include text-500(14, $text-white);
  background-color: $primary;
  width: 100%;
  &:hover {
    background-color: $primary-hover;
  }
  &:disabled {
    background-color: $disabled;
  }
  &--negative {
    color: $primary;
    background-color: $popup;
    &:hover {
      background-color: $line-light;
    }
  }
  &--sm {
    @include px(15);
    height: 36px;
  }
  &--md {
    @include px(30);
    height: 40px;
  }
  &--lg {
    @include px(30);
    height: 48px;
  }

  &--w-auto {
    width: auto;
  }
}

.ss-input {
  &[type='text'],
  &[type='password'] {
    @include rounded();
    @include text-500(16, $text-black, 26);
    border: 1px solid $line-light;
    height: 50px;
    width: 100%;
    padding: 0 24px;

    &::placeholder {
      color: $text-gray;
    }

    &.--error {
      border: 1px solid $primary;
    }
  }

  &__with-button {
    position: relative;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 8px;

      span {
        @include text-500(14, $primary);
        margin-right: 12px;
      }

      .ss-button {
        width: 67px;
      }
    }
  }

  &__with-dropdown {
    @include flex(start, start, column);
    position: relative;
    width: 100%;

    div {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0px;
      right: 8px;
      height: 50px;
      cursor: pointer;

      > input {
        @include text-500(16, $text-black, 26);
        width: 40px;
        height: 50px;
        text-align: right;
        margin-right: 44px;
        border: 0;
        border-top: 1px solid $line-light;
        border-bottom: 1px solid $line-light;
        cursor: pointer;
      }

      div::after {
        content: '';
        width: 24px;
        height: 24px;
        background: url(src/assets/icons/2424/chevron_sm_down.svg) no-repeat center;
        margin: 13px 0;
      }
    }

    div.--open {
      div::after {
        transform: rotate(180deg);
      }
    }

    ul {
      @include rounded(15);
      position: absolute;
      top: 54px;
      left: 0;
      z-index: 1;
      width: 100%;
      max-height: 200px;
      background: $background;
      border: 1px solid $line-strong;
      overflow-x: hidden;
      overflow-y: auto;

      > li {
        @include text-500(16, $text-black);
        padding: 15px 24px;
        cursor: pointer;

        &:hover {
          background-color: #f8f7f7;
          color: #ff8031;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__textarea {
    textarea {
      @include rounded(15);
      @include text-500(16, $text-black, 26);
      border: 1px solid $line-light;
      width: 100%;
      padding: 12px 24px;

      &::placeholder {
        color: $text-gray;
      }

      &.--error {
        border: 1px solid $primary;
      }
    }

    div {
      @include text-500(12, $text-gray, 14);
      text-align: right;
    }
  }

  &__label {
    @include text-700(14, $text-black);
    position: relative;

    &.--required::after {
      content: '*';
      color: $primary;
    }
  }

  &__price {
    @include text-500(14, $text-black);
    position: absolute;
    right: 20px;
    bottom: 18px;
  }

  &[type='checkbox'] {
    display: none;

    & + label {
      @include text-500(14, $text-black);
      height: 20px;
      display: flex;
      align-items: center;
      white-space: nowrap;

      &::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url('src/assets/buttons/checkbox_inactive.svg') no-repeat center;
        cursor: pointer;
        margin-right: 8px;
      }
    }

    &:checked + label::before {
      background: url('src/assets/buttons/checkbox_active.svg') no-repeat center;
    }
  }

  &__file {
    @include flex(center, center, column);
    @include rounded(15);
    width: 100%;
    border: 1px dashed $text-black;

    & > span {
      @include text-700(16, $text-black, 22);
      margin: 6px 0 12px 0;
    }

    & > p {
      @include text-500(14, $text-gray, 20);
    }

    & > input {
      display: none;
    }
  }

  &__image {
    position: relative;
    @include flex(center, center, column);
    @include rounded(15);
    width: 100%;
    border: 1px solid $text-black;
    overflow: hidden;

    & > img {
      @include center-center();
      position: absolute;
      object-fit: fill;
    }

    & > span {
      @include flex(center, center);
      @include text-500(12, $text-white, 18);
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
    }
  }

  &__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('src/assets/buttons/delete_default.svg') no-repeat center;
    cursor: pointer;

    &:hover {
      background: url('src/assets/buttons/delete_hover.svg') no-repeat center;
    }
  }

  &__dropdown {
    @include flex(start, start, column);
    position: relative;
    width: 100%;

    & > input[type='text'] {
      @include text-500(16, $text-black, 26);
      order: 1;
      width: 100%;
      background: $background;
      outline: none;
      padding: 12px 24px;
      margin-bottom: 4px;
      border-radius: 25px;
      border: 1px solid $line-light;
      cursor: pointer;
    }

    &::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      right: 15px;
      bottom: 18px;
      pointer-events: none;
      background-image: url('src/assets/icons/2424/chevron_sm_down.svg');
    }

    &--active::before {
      transform: rotate(180deg);
    }
  }

  &__options {
    @include rounded(15);
    position: absolute;
    top: 85px;
    order: 2;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    background: $background;
    border: 1px solid $line-strong;
    overflow-x: hidden;
    overflow-y: auto;

    > div {
      @include text-500(16, $text-black);
      padding: 15px 24px;
      cursor: pointer;

      &:hover {
        background-color: #f8f7f7;
        color: #ff8031;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.info-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('src/assets/icons/1414/info_inactive.svg') no-repeat center;
  cursor: pointer;

  .tooltip {
    @include text-500(12, $text-white, 18);
    position: absolute;
    display: none;
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    white-space: pre;
    z-index: 11;

    &.left-bottom {
      border-bottom-left-radius: 0;
      transform: translateY(-100%);
    }

    &.left-top {
      border-top-left-radius: 0;
      transform: translateY(100%);
    }
    &.left-top-2 {
      border-top-left-radius: 0;
      transform: translateY(calc(100% - 18px));
    }
  }

  &.active {
    background-image: url('src/assets/icons/1414/info_active.svg');

    .tooltip {
      display: inline-block;
    }
  }
}

.ss-notification {
  @include text-500(12, $text-white, 18);
  @include rounded();
  @include transition(0.5s);
  position: absolute;
  padding: 6px 20px;
  bottom: calc(100vh / 8 + $navbar-height);
  background-color: rgba(0, 0, 0, 0.6);
}

.ss-modal {
  @include flex(center, center);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 10000;
  &__window {
    @include flex(start, center, column);
    @include rounded(15);
    background-color: $background;
    width: 100%;
    padding: 20px;

    img {
      align-self: flex-end;
    }

    p {
      @include text-500(16, $text-black, 26);
    }

    div {
      display: flex;
      width: 100%;
    }
  }
}
