@use '../abstracts' as *;

.ss-flyout {
  position: relative;
  width: 24px;
  height: 24px;
  &__button {
    color: $text-black;

    &.--active {
      color: $primary;
    }
  }
  &__menu {
    position: absolute;
    top: 24px;
    right: 8px;
    border: 1px solid $line-strong;
    border-radius: 15px 0px 15px 15px;
    width: max-content;
    background-color: $background;
    z-index: 100;
    padding: 18px 20px;

    &.--post {
      top: 40px;
      right: 0;
    }

    & .menu {
      &__content {
        padding-bottom: 10px;

        h3 {
          @include text-700(14px, $text-black);
        }
      }

      &__title {
        @include flex(center, center);
        @include text-700(18, $text-black);
        position: relative;
        margin-bottom: 40px;

        > button {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &__social-buttons {
        @include flex(center, start);
        button {
          @include flex(center, center, column);
          @include text-500(12, $text-black);
          > img {
            margin-bottom: 5px;
          }

          &:not(:last-child) {
            margin-right: 25px;
          }
        }
      }
    }
  }

  &__item {
    @include flex(center, center);
    @include text-500(16, $text-black, 24);
    height: 24px;
    cursor: pointer;

    &:hover {
      color: $primary;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
