@use '../abstracts' as *;

.ss-slider {
  width: 100%;
  height: 100%;
  max-height: inherit;
  position: relative;
  overflow-x: hidden;

  &-content {
    display: flex;
    max-height: inherit;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }

  &__slide {
    min-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__badge {
    @include text-500(12, $text-white);
    @include rounded();
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #171a1980;
    color: white;
    padding: 2px 12px;
  }

  &__button {
    @include center-center();
    @include flex(space-between, center);
    width: 100%;
    padding: 0 20px;

    & > button:first-child {
      margin-right: auto;
    }
  }

  &__indicator {
    @include bottom-center();
    bottom: 20px;
    @include flex(center, center);
    > div {
      @include rounded();
      border: 1px solid $line-strong;
      width: 10px;
      height: 10px;
      background-color: $background;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &.--active {
        background-color: $primary;
      }
    }
  }
}
