@use '../abstracts' as *;

.ss-tag {
  @include flex(center, center);
  @include text-500(14, $primary, 20);
  @include rounded();
  background-color: $background;
  width: fit-content;
  padding: 4px 12px;

  &.--warm {
    background-color: $background-warm;
  }
  &.--active {
    color: $text-white;
    background-color: $primary;
  }
  &.--delete {
    padding: 4px 10px 4px 12px;
    color: $text-white;
    background-color: $primary;
  }
  &-box {
    @include flex(start, center);
    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.ss-tag-emoji {
  @include text-500(14, $text-black, 26);
  @include rounded();
  padding: 4px 12px;
  border: 1px solid $line-light;
  width: fit-content;

  &.--active {
    background-color: $primary;
    color: $text-white;
    border: none;
  }

  &.--warm {
    background-color: $background-warm;
    color: $primary;
    border: none;
  }
}

.ss-state-view {
  display: inline-block;
  @include text-500(16, $text-black, 18);
  @include rounded();
  padding: 10px 20px;
  border: 1px solid $line-strong;

  &.--positive {
    color: $secondary;
    border: 1px solid $secondary;
  }

  &.--negative {
    color: $primary;
    border: 1px solid $primary;
  }

  &.--light {
    border: 1px solid $line-light;
  }
}
