@use '../abstracts' as *;

.tooltip {
    @include text-caption('sm');
    line-height: 1.8rem;
    color: #fff;
    padding: 6px 20px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    white-space: nowrap;

    &.left-bottom {
        border-bottom-left-radius: 0;
    }
}