@use '../abstracts' as *;

html,
body,
#root {
  height: 100%;
  user-select: none;
}

body {
  background-color: $background-warm;
  @media #{$lg} {
    background: url('src/assets/pictograms/family_faces.svg') no-repeat right center;
    background-position: right -8px center;
    background-color: $background-warm;
  }
}

main {
  max-width: $content-wrap;
  width: 100%;
  height: calc(100% - $topbar-height - $navbar-height);
  margin: 0 auto;
  // overflow-y: scroll;

  // &::-webkit-scrollbar {
  //   width: 0.5em;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: transparent;
  // }

  @media #{$sm} {
    padding: 0 20px;
  }

  @media (max-height: 1080px) {
  }
}

a,
.ss-btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include transition(0.15s);
}
