@use '../abstracts' as *;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard', sans-serif;
  line-height: 1;
  background: url('src/assets/images/saesig_family_face.svg') no-repeat right -8px center;
  background-color: $bg-color;

  > #root {
    max-width: 700px;
    margin: 0 auto;
  }

  main {
    width: 100%;
    height: calc(100vh - $topbar-height - $navbar-height);

    > .middle-wrap {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .inner {
    @include inner;

    &.md {
      max-width: $inner-width-md;
    }

    &.sm {
      max-width: $inner-width-sm;
    }
  }

  .text--primary {
    color: $primary-color !important;
  }

  .text--secondary {
    color: $secondary-color !important;
  }

  .text--green {
    color: $text-color-green !important;
  }
}
