@for $i from 1 through 200 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}

.relative {
  position: relative;
}

.w-660 {
  max-width: 660px;
}

.w-490 {
  max-width: 490px;
}

.w-200 {
  max-width: 200px;
}

.w-220 {
  max-width: 220px;
}

.w-full {
  width: 100%;
}

.h-300 {
  height: 300px;
}

.h-150 {
  height: 150px;
}
