@use '../abstracts' as *;

.ss-wrap {
  @include flex(start, center, column);
  max-width: 660px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.family {
  &-hero {
    @include flex(start, start, column);
    width: 100%;

    &__today-info {
      @include flex(space-between, center);
      width: 100%;

      > span {
        @include text-500(14, $text-black);
        margin-right: auto;
      }
      > div {
        @include flex(flex-end, center);
        @include text-500(15, $text-black);
        margin-left: auto;
        > img:not(:last-child) {
          margin-right: 2px;
        }
        > button {
          color: $primary;
          position: relative;
          text-decoration: none;
          margin-right: 4px;

          &:hover::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 1px;
            background-color: $primary;
          }
        }
        > span {
          margin-right: 2px;
        }
      }
    }

    &__title {
      @include flex(start, start, column);
      @include text-700(34, $text-black, 140%);
      width: 100%;
      position: relative;

      > div {
        @include flex(start, center);
        height: 60px;

        &:first-child::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          height: 1px;
          background-color: $line-light;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          height: 1px;
          background-color: $line-light;
        }

        &:nth-child(1)::after {
          margin-bottom: 60px;
        }

        &:nth-child(2)::after {
          margin-bottom: 120px;
        }
      }
    }
  }
  &-content {
    position: relative;
    width: 100%;
    &--empty {
      @include flex(center, center, column);
      flex-grow: 1;
      > p {
        @include text-500(16, $text-gray, 24);
        text-align: center;
      }
      > button {
        width: fit-content;
      }
    }
    &__filter {
      @include flex(space-between, center);

      width: 100%;
      div:first-child {
        @include flex(start, center);
        margin-right: auto;
        > *:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
    &__main {
      @include flex(start, center, column);
      width: 100%;

      & > div:first-child {
        @include flex(start, center);
        @include text-500(14, $text-black, 24);
        margin-right: auto;

        & > span {
          color: $primary;
        }
      }
    }
    &__card-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
    }

    &__card {
      @include flex(start, center, column);
      @include rounded(30);
      width: 100%;
      height: 540px;
      background-color: $background;
      border: 1px solid $line-strong;

      & > header {
        @include flex(space-between, center);
        @include px(20);
        border-bottom: 1px solid $line-strong;
        width: 100%;
        height: 60px;

        & div:first-child {
          @include flex(start, center);
          @include text-500(16, $text-black);
          margin-right: auto;
          & > svg {
            width: 24px;
            height: 24px;
            margin-right: 4px;
            color: $primary;
          }
        }
      }

      & > div {
        height: 300px;
      }

      & > footer {
        @include flex(start, start, column);
        width: 100%;
        height: 180px;
        border-top: 1px solid $line-strong;
        padding: 20px 20px 26px 20px;

        > div:nth-child(1) {
          @include flex(space-between, center);
          margin-bottom: 12px;
          width: 100%;
          > div:first-child {
            margin-right: auto;
            > span:first-child {
              @include text-700(14, $primary);
              &::after {
                @include text-500(14, $text-gray);
                content: ' · ';
              }
            }
            > span:last-child {
              @include text-500(14, $text-gray);
            }
          }
          > div:last-child {
          }
        }
        > div:nth-child(2) {
          @include text-700(18, $text-black, 26);
          margin-bottom: 20px;
          flex: 1;
        }
        > div:nth-child(3) {
          @include flex(start, center);
          & > button:not(:last-child) {
            margin-right: 6px;
          }
        }
      }
    }
    &__floating-button {
      position: fixed;
      bottom: calc($navbar-height + 30px);

      @media #{$sm} {
        right: 30px;
      }

      @media #{$md} {
        right: 30px;
      }

      @media #{$lg} {
        left: calc(50% + 390px);
      }
    }
  }
}
