@use '../abstracts' as *;

.find {
  @include flex(center, center, column);
  height: 100%;
  max-width: 490px;
  margin: 0 auto;

  &__title {
    @include flex(start, start, column);
    @include text-700(26, $text-black, 36);
    width: 100%;

    & > :first-child {
      @include text-700(16, $primary, 26);
    }
  }

  &__id {
    @include text-500(16, $text-black, 26);
  }

  &__joined {
    @include text-500(14, $text-gray);
  }
}
