@use '../abstracts' as *;

.signup {
  @include flex(center, center, column);
  height: 100%;
  max-width: 490px;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include flex(start, start, column);
    @include text-700(26, $text-black, 36);
    width: 100%;
  }

  .required::after {
    content: '(필수)';
    margin-left: 4px;
    color: $primary;
  }
  .optional::after {
    content: '(선택)';
    margin-left: 4px;
    color: $text-green;
  }
}

.between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &__window {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 660px;
    width: 100%;
    height: 50vh;
    border-radius: 15px 15px 0 0;
    background-color: $background;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    & > span {
      @include text-700(20, $text-black);
    }

    & > p {
      @include text-400(14, $text-black, 20);
      padding: 0 40px;
      width: 100%;
      max-height: 350px;
      overflow-y: scroll;

      b {
        font-weight: 700;
      }
    }
  }
}
