@use '../abstracts' as *;

.login-top-con {
  text-align: center;
  margin-bottom: 60px;

  img {
    margin-bottom: 16px;
  }

  .desc {
    @include text-body('md');
    color: #707070;
  }
}

.login-form-con {
  margin-bottom: 120px;

  .input-box {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .radio-box {
    margin-bottom: 30px;

    > label {
      vertical-align: middle;
    }

    .info-icon {
      vertical-align: middle;
      margin-left: 7px;
    }
  }

  .login-btn {
    margin-bottom: 30px;
  }
}

.login-bottom-con {
  .btn__group--sns {
    margin-bottom: 30px;
  }

  .sign-up-btn {
    text-align: center;
  }
}
