@use '../abstracts' as *;

.publish {
  @include flex(start, center, column);
  height: 1000vh;
  width: 700px;
  margin: 0 auto;

  .--bg-white {
    background-color: white;
    padding: 0 5px;
  }

  h1 {
    @include text-700(26, $text-black);
  }
  h3 {
    @include text-500(20, $text-black);
    margin-top: 30px;
  }

  h5 {
    @include text-500(16, $text-black);
  }

  h6 {
    @include text-400(14, $text-gray);
  }

  section {
    @include flex(start, start);
    width: 100%;
    margin-top: 30px;

    > div {
      @include flex(start, start);
      margin-right: auto;
      margin-left: 20px;
      height: 100%;
      border-left: 2px solid $line-strong;
      padding-left: 20px;

      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  > ul {
    margin-top: 12px;
    li {
      text-align: center;
      margin-top: 8px;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}
