// Responsive Variables
$mobile: '(max-width: 575px)';
$desktop: '(min-width: 1200px)';

// $laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
// $lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
// $md:'only screen and (min-width: 768px) and (max-width: 991px)';
// $sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
// $xs:'(max-width: 575px)';
// $large:'(min-width: 1200px)';

$breakpoints: (
  sm: 30em,
  md: 50em,
  lg: 75em,
);

@mixin media-query($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}
