@use '../abstracts/variables' as *;

// Text
@mixin text-700($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 700;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

@mixin text-500($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

@mixin text-400($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

// Layout
@mixin flex($justify, $align, $direction: false) {
  display: flex;
  justify-content: safe $justify;
  align-items: $align;
  @if ($direction) {
    flex-direction: $direction;
  }
}

// Utils
@mixin rounded($round: false) {
  @if ($round == false) {
    border-radius: 9999px;
  }
  @if (type-of($round) == number) {
    border-radius: $round + px;
  }
}

@mixin px($px) {
  padding-left: $px + px;
  padding-right: $px + px;
}

// Transition
@mixin transition($time) {
  -webkit-transition: all $time ease-out 0s;
  -moz-transition: all $time ease-out 0s;
  -ms-transition: all $time ease-out 0s;
  -o-transition: all $time ease-out 0s;
  transition: all $time ease-out 0s;
}

// Position
@mixin top-left() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin top-center() {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin bottom-left() {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin bottom-center() {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Register Form ONLY
@mixin svgInputRadio($charactor) {
  display: none;

  & + label {
    @include text-500(14, $text-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      width: 150px;
      height: 180px;
      cursor: pointer;
      @if ($charactor == 'saesig') {
        background: url('/src/assets/pictograms/saesig_inactive.svg') no-repeat center;
      }
      @if ($charactor == 'dal') {
        background: url('/src/assets/pictograms/dal_inactive.svg') no-repeat center;
      }
    }

    &::after {
      @if ($charactor == 'saesig') {
        content: '강아지';
      }
      @if ($charactor == 'dal') {
        content: '고양이';
      }
      @include text-700(18, $text-black, 26);
      margin-top: 10px;
      padding: 4px 12px;
    }

    // &:hover::after {
    //   @include text-700(18, $text-white, 26);
    //   @include rounded();
    //   background-color: $primary;
    //   margin-top: 10px;
    //   padding: 4px 12px;
    // }

    &:hover::before {
      @if ($charactor == 'saesig') {
        background: url('/src/assets/pictograms/saesig_active.svg') no-repeat center;
      }
      @if ($charactor == 'dal') {
        background: url('/src/assets/pictograms/dal_active.svg') no-repeat center;
      }
    }
  }

  &:checked + label::after {
    @include text-700(18, $text-white, 26);
    @include rounded();
    background-color: $primary;
    margin-top: 10px;
    padding: 4px 12px;
  }

  &:checked + label::before {
    @if ($charactor == 'saesig') {
      background: url('/src/assets/pictograms/saesig_active.svg') no-repeat center;
    }
    @if ($charactor == 'dal') {
      background: url('/src/assets/pictograms/dal_active.svg') no-repeat center;
    }
  }
}
