@use '../abstracts/variables' as *;

// Text
@mixin text-700($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 700;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

@mixin text-500($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

@mixin text-400($size: 16, $color: false, $line-height: false) {
  font-family: $font-family;
  font-weight: 500;
  font-style: normal;
  font-size: $size + px;
  @if (type-of($color) == color) {
    color: $color;
  }
  @if ($line-height) {
    line-height: $line-height + px;
  }
}

// Layout
@mixin flex($justify, $align, $direction: false) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if ($direction) {
    flex-direction: $direction;
  }
}

// Utils
@mixin rounded($round: false) {
  @if ($round == false) {
    border-radius: 9999px;
  }
  @if (type-of($round) == number) {
    border-radius: $round + px;
  }
}

@mixin px($px) {
  padding-left: $px + px;
  padding-right: $px + px;
}

// Transition
@mixin transition($time) {
  -webkit-transition: all $time ease-out 0s;
  -moz-transition: all $time ease-out 0s;
  -ms-transition: all $time ease-out 0s;
  -o-transition: all $time ease-out 0s;
  transition: all $time ease-out 0s;
}

// Position
@mixin top-left() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin top-center() {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin bottom-left() {
  position: absolute;
  bottom: 0;
  left: 0;
}
