$primary-color: #ff8031;
$primary-color-active: #ff6200;
$secondary-color: #40bd2b;

$bg-color: #f9f7f2;
$dim-bg-color: #00000070;
$disabled-bg-color: #d9d9d9;
$nodata-bg-color: #eaeaea;
$popup-btn-bg-color: #f8f7f7;

$line-color-light: #d9d9d9;
$line-color-strong: #585858;

$text-color: #171a19;
$text-color-gray: #acacac;
$text-color-orange: #ff8031;
$text-color-green: #49b537;
$placeholder-color: #adadad;

// max-width 밖의 여백 값
$gutter: 20px;
$inner-width: 700px;
$inner-width-md: 530px;
$inner-width-sm: 440px;

$topbar-height: 56px;
$menubar-height: 56px;
