$primary-color: #ff8031;
$primary-color-active: #ff6200;
$secondary-color: #40bd2b;

$bg-color: #f9f7f2;
$bg-color-white: #fff;
$dim-bg-color: #00000070;
$disabled-bg-color: #d9d9d9;
$nodata-bg-color: #eaeaea;
$popup-btn-bg-color: #f8f7f7;

$line-color-light: #d9d9d9;
$line-color-strong: #585858;

$text-color: #171a19;
$text-color-gray: #acacac;
$text-color-orange: #ff8031;
$text-color-green: #49b537;
