@use '../abstracts' as *;

.topbar {
  @include flex(center, center);
  width: 100%;
  height: $topbar-height;
  background-color: $background;
  border-bottom: 1px solid $line-light;
  z-index: 9999;

  &__wrap {
    @include flex(space-between, center);
    @include px(20);
    position: relative;
    max-width: $content-wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__section-left {
    margin-right: auto;
  }
  &__section-center {
    @include text-700(20, $text-black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__section-right {
    margin-left: auto;
  }

  &__button-group {
    @include flex(center, center);
    button:not(.ss-outline-button) {
      width: 24px;
      height: 24px;
      margin-left: 18px;
    }
  }
}
